# Node.js
node_modules/
*.log
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE Configurations
.idea/
.vscode/